<div class="modal fade" id="medicalModal"tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 670px;">
            <div class="modal-header">
                <h5 class="modal-title">Patient Medical Certificate Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <div class="card m-4" >
        <div class="card-body p-4">
          <!-- Logo -->
          <div class="app-brand">           
            <div class="justify-content-center text-center mb-4">
              <span class="app-brand-logo demo">
                <img src="{{ asset('build/images/logo.png') }}" height="35" />
              </span>
              <span
                class="app-brand-text demo fw-bolder ms-2"
                style="
                  text-transform: uppercase;
                  color: #5a7db8;
                  font-size: 19px;
                "
                >PHI</span
              >
              <span
                class="app-brand-text demo menu-text fw-bolder ms-1"
                style="font-size: 19px"
                >record</span
              >
            </div>

            <hr />

            <center>
            <h4 class="mb-2">Medical Certificate Record</h4>
            <p class="mb-2" id="hospitalName"></p>
            <p class="mb-2" id="hospitalAddress"></p>

            <p class="mb-4 hospital-name"></p>
            </center>
            <div class="d-flex">
            <p class="mb-2"><b>Patient Name:</b>&nbsp;</p>
            <p id="patientName"></p>
            </div>
            <div class="d-flex">
            <p class="mb-2"><b>Gender: </b>&nbsp;</p>
            <p id="patientGender"></p>
            </div>
            <div class="d-flex">
            <p class="mb-2"><b>Age: </b>&nbsp;</p>
            <p id="patientAge"></p>
            </div>
            <div class="d-flex">
            <p class="mb-2"><b>Address: </b>&nbsp;</p>
            <p id="patientAddress"></p>
             </div>
            <div class="d-flex ">
            <p class="mb-2"><b>Medical Certificate Date: </b>&nbsp;</p>
            <p id="patientCertificateDate"></p>
             </div>
            <div class="d-flex flex-column">
            <p class="mb-2"><b>Impression: </b>&nbsp;</p>
            <p id="patientImpression"></p>
             </div>
            <div class="d-flex flex-column">
            <p class="mb-2"><b>Purpose: </b>&nbsp;</p>
            <p id="patientPurpose"></p>
             </div>
        

            <!-- Form -->
            
            <div class="modal-footer text-center">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    <i class="bi bi-x-circle me-1"></i>
                    Close
                  </button>
            </div>

            <center>
            </center>
          </div>
        </div>
      </div>
 
            </div>
        </div>
    </div>
  </div>

