{% extends 'hospital/layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hospital_requested_medical') }}
{% endblock %}

{% block title %}Medical Request{% endblock %}
{% block content %}

{% autoescape false %}
<div class="hospital container content-body">
    <h1 class="text-center mt-5">Requested Medical Record</h1>
    <div class="my-4 p-4">
        <table id="patientMedicalRequestTable">
        <thead>
            <tr>
            <th>Patient Name</th>
            <th>Doctor</th>
            <th>Hospital</th>
            <th>Reference Code</th>
            <th>Request Date</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    </div>
{% endautoescape %}
    {% endblock %}
