@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~boxicons/css/boxicons";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~datatables.net-dt/css/jquery.dataTables.css";


* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #e7ebee;
}

.nav-link {
  color: #9aa0a9;

  &.active {
    background-color: inherit !important;
    color: #57585A !important;
  }

  &:hover, &:focus {
    color: #57585A !important;
  }
}
