{% extends 'doctor/layout.twig' %}

{% block title %}Log In{% endblock %}


{% block content %}


        <div class="text-center mt-5">
          <h1>Doctor Dashboard</h1>
        </div>
          <div class="row row-cols-5 g-4 p-4 justify-content-center">            
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://images.template.net/84480/free-doctor-character-illustration-c9fbh.jpg"
                    alt="Doctor"
                    class="img-fluid rounded-start"
                    style="height: 180px;"
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p
                      class="card-title text-primary"
                      style="
                        text-align: center;
                        font-size: 40px;
                        font-weight: bold;
                      "
                    >
                      {{ doctor }}
                    </p>
                    <!-- Get total number of registered medical staff in all of registered hospitals -->
                    <p class="card-text" style="text-align: center">
                      No. of Registered Doctor of {{hospital.name}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card mb-3">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                    src="https://img.freepik.com/premium-vector/doctor-visiting-senior-patient-ward-2d-vector-isolated-illustration_151150-10367.jpg"
                    alt="Patient"
                    class="img-fluid rounded-start"
                    style="height: 180px;"         
    
                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <p
                      class="card-title text-primary"
                      style="
                        text-align: center;
                        font-size: 40px;
                        font-weight: bold;
                      "
                    >
                      {{ patient }}
                    </p>
                    <!-- Get total number of registered patients in the system -->
                    <p class="card-text" style="text-align: center">
                      Total No. of Registered Patients of {{hospital.name}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Responsive needs to be fixed --->
          <!-- Wrapper -->
        </div>

        <!-- Responsive needs to be fixed --->
        <!-- Wrapper -->

        <footer class="content-footer footer bg-footer-theme">
          <div
            class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
          >
            <div class="mb-2 mb-md-0">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              <a href="#" target="_blank" class="footer-link fw-bolder"
                >PHIrecord</a
              >
            </div>
          </div>
        </footer>



{% endblock %}