{% extends 'doctor_pending/layout.twig' %}

{% block title %}Log In{% endblock %}


{% block content %}

 <div class="main p-3">
        <div class="text-center">
          <h1>Doctor Pending Dashboard</h1>
        </div>
          <div class="alert alert-warning" role="alert">
            Status is pending wait for Hospital to approve
        </div>
       
  </div>
 
        <footer class="content-footer footer bg-footer-theme">
          <div
            class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column"
          >
            <div class="mb-2 mb-md-0">
              ©
              <script>
                document.write(new Date().getFullYear());
              </script>
              <a href="#" target="_blank" class="footer-link fw-bolder"
                >PHIrecord</a
              >
            </div>
          </div>
        </footer>
      </div>


{% endblock %}