{% extends 'hospital/layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hospital_patient_pending') }}
{% endblock %}

{% block title %}Hospital Patient{% endblock %}
{% block content %}

{% autoescape false %}
<div class="hospital container content-body">
    <h1 class="text-center mt-5">Pending Patient</h1>
     {% include 'hospital/hospital_patient_modal.twig' %}
    <div class="my-4 p-4">
        <table id="hospitalPatientPendingTable">
        <thead>
            <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Created At</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    </div>
{% endautoescape %}
    {% endblock %}
