{% extends 'hospital/layout.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('hospital_requested_checkup') }}
{% endblock %}

{% block title %}Patient{% endblock %}
{% block content %}


<div class="hospital container content-body">
    <h1 class="text-center mt-5"> Checkup Record </h1>
    {% include 'checkup_form/checkup_pending_modal.twig' %}
    <div class="my-4 p-4">
        <table id="hospitalRequestCheckupTable">
        <thead>
            <tr>
            <th>Patient Name</th>
            <th>Contact</th>
            <th>Hospital</th>
            <th>Reference Code</th>
            <th>Request Date</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody></tbody>
        </table>
    </div>
    </div>

    {% endblock %}
